In [18]:
import pandas as pd

In [34]:
books = pd.read_csv("BX-Books.csv", sep=",")
ratings = pd.read_csv("BX-Book-Ratings.csv", sep = ";")
users = pd.read_csv("BX-Users.csv", sep=";")

In [22]:
books = books.drop("Unnamed: 0", axis = "columns")
books = books.drop(["Image.URL.S", "Image.URL.M", "Image.URL.L"], axis = "columns")

In [48]:
ratings.groupby("User-ID")["Book-Rating"].count()

User-ID
2          1
7          1
8         18
9          3
10         2
          ..
278846     2
278849     4
278851    23
278852     1
278854     8
Name: Book-Rating, Length: 105283, dtype: int64

In [30]:
ratings

         User-ID         ISBN  Book-Rating
0         276725   034545104X            0
1         276726   0155061224            5
2         276727   0446520802            0
3         276729   052165615X            3
4         276729   0521795028            6
...          ...          ...          ...
1149775   276704   1563526298            9
1149776   276706   0679447156            0
1149777   276709   0515107662           10
1149778   276721   0590442449           10
1149779   276723  05162443314            8

[1149780 rows x 3 columns]